Repository marklogic/marklogic-data-hub, pull requests merged in 2022-08, with the labels that each got.

#7088 DHFPROD-8996: Verify the privileges assigned to hub-central-mapping-reader role
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/mappingRelatedRolesPrivileges.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/login/authorization.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/mapping/mapping-step-detail.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/pages/curate.tsx
Labels: Needs E2E review

#7100 DHFPROD-9108: Model page - Create a structured sub-property inside on…
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/reader.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/writerScenario2.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/model/property-modal.tsx
  marklogic-data-hub-central/ui/src/components/modeling/property-modal/property-modal.module.scss
  marklogic-data-hub-central/ui/src/components/modeling/property-modal/property-modal.tsx
  marklogic-data-hub-central/ui/src/components/modeling/property-table/property-table.test.tsx
  marklogic-data-hub-central/ui/src/components/modeling/property-table/property-table.tsx
  marklogic-data-hub-central/ui/src/config/tooltips.config.tsx
Labels: Needs E2E review

#7104 DHFPROD-8992: e2ePersistFilter
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/entityMappingFunctionalities.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/mapping/mapping-step-detail.tsx
Labels: Needs E2E review

#7115 DHFPROD-8990: e2eMappingConfig
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/mappingRelatedRolesPrivileges.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/pages/curate.tsx
Labels: Needs E2E review

#7116 DHFPROD-9034: e2eWinFailuresPt1
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/mappingWithCustomHeader.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/mappingWithInterceptorsAndCustomHook.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/login/authorization.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/entitySettings.spec.tsx
Labels: Needs E2E review

#7120 DHFPROD-9169: Making mapping service compatible with Community Edition.
  marklogic-data-hub-central/src/main/java/com/marklogic/hub/central/controllers/MappingController.java
  marklogic-data-hub/src/main/java/com/marklogic/hub/dataservices/MappingService.java
Labels: DO_NOT_RUN_UI_TESTS

#7126 DHFPROD-9178: End point to expose manual merge functionality
  marklogic-data-hub-central/src/main/java/com/marklogic/hub/central/controllers/steps/MergingStepController.java
  marklogic-data-hub/src/main/resources/ml-modules/services/mlSmMerge.sjs
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/data-services/entitySearch/searchResultFacetsTest.sjs
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/data-services/entitySearch/test-data/content/smNotifiedDoc.xml
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/smart-mastering/rest/mlSmMerge/post.sjs
Labels: Beta

#7117 DHFPROD-8959: View Related Concept Classes tab in Modeling
  marklogic-data-hub-central/ui/e2e/cypress/integration/explore/verifyConceptsInExplore.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/graphValidations.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/model/graph-view-side-panel.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/pages/entitiesSidebar.tsx
  marklogic-data-hub-central/ui/src/components/confirmation-modal/confirmation-modal.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/graph-view.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/side-panel/side-panel.module.scss
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/side-panel/side-panel.tsx
  marklogic-data-hub-central/ui/src/types/modeling-types.ts
Labels: Beta

#7128 DHFPROD-8795: Add new concept class from Table view in Modeling screen
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/relatedEntityMapping.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/login/authorization.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/mastering/e2eMasteringflow.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/reader.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/verifyConceptClassesInModeling.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/verifyReaderRoleCantPublish.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/writerScenario1.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/writerScenario2.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/writerScenarioGraph.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/writerScenarioModeling.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/persistence/persistence.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/common/confirmation-modal.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/model/entity-type-table.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/model/relationship-modal.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/pages/model.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/types/modeling-types.ts
  marklogic-data-hub-central/ui/src/api/modeling.ts
  marklogic-data-hub-central/ui/src/components/common/hc-table/hc-table.tsx
  marklogic-data-hub-central/ui/src/components/confirmation-modal/confirmation-modal.tsx
  marklogic-data-hub-central/ui/src/components/modeling/concept-class-modal/concept-class-modal.tsx
  marklogic-data-hub-central/ui/src/components/modeling/entity-type-table/entity-type-table.module.scss
  marklogic-data-hub-central/ui/src/components/modeling/entity-type-table/entity-type-table.test.tsx
  marklogic-data-hub-central/ui/src/components/modeling/entity-type-table/entity-type-table.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/graph-view.test.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/graph-view.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/graph-vis/graph-vis.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/relationship-modal/add-edit-relationship.test.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/relationship-modal/add-edit-relationship.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/side-panel/side-panel.tsx
  marklogic-data-hub-central/ui/src/config/tooltips.config.tsx
  marklogic-data-hub-central/ui/src/pages/Modeling.module.scss
  marklogic-data-hub-central/ui/src/pages/Modeling.test.tsx
  marklogic-data-hub-central/ui/src/pages/Modeling.tsx
  marklogic-data-hub-central/ui/src/types/common-types.ts
Labels: Beta

#7132 DHFPROD-9183: fix prop name issue
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/side-panel/side-panel.tsx
Labels: Beta

#7131 DHFPROD-9128: Success Transition and Merge Documents
  marklogic-data-hub-central/src/main/java/com/marklogic/hub/central/controllers/steps/MergingStepController.java
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/mergeNotification.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/mergeUnmergePrivileges.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/unMerge.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/matching/compare-values-modal.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/pages/browse.tsx
  marklogic-data-hub-central/ui/src/api/merging.ts
  marklogic-data-hub-central/ui/src/assets/mock-data/explore/entity-search.js
  marklogic-data-hub-central/ui/src/components/common/hc-button/hc-button.tsx
  marklogic-data-hub-central/ui/src/components/entities/matching/compare-values-modal/compare-values-modal.module.scss
  marklogic-data-hub-central/ui/src/components/entities/matching/compare-values-modal/compare-values-modal.tsx
  marklogic-data-hub-central/ui/src/components/entities/matching/matching-step-detail/matching-step-detail.tsx
  marklogic-data-hub-central/ui/src/components/modeling/graph-view/side-panel/side-panel.tsx
  marklogic-data-hub-central/ui/src/components/pop-over-search/pop-over-search.module.scss
  marklogic-data-hub-central/ui/src/components/record-view/record-view.module.scss
  marklogic-data-hub-central/ui/src/components/record-view/record-view.test.tsx
  marklogic-data-hub-central/ui/src/components/record-view/record-view.tsx
  marklogic-data-hub-central/ui/src/components/results-tabular-view/results-tabular-view.module.scss
  marklogic-data-hub-central/ui/src/components/results-tabular-view/results-tabular-view.test.tsx
  marklogic-data-hub-central/ui/src/components/results-tabular-view/results-tabular-view.tsx
  marklogic-data-hub-central/ui/src/components/search-result/search-result.module.scss
  marklogic-data-hub-central/ui/src/components/search-result/search-result.test.tsx
  marklogic-data-hub-central/ui/src/components/search-result/search-result.tsx
  marklogic-data-hub-central/ui/src/pages/Browse.tsx
  marklogic-data-hub-central/ui/src/util/search-context.tsx
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/data-services/entitySearch/getRecord.sjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/entities/entity-search-lib.sjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/merging/mergeable.sjs
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/data-services/entitySearch/searchResultFacetsTest.sjs
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/data-services/entitySearch/setup.xqy
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/data-services/entitySearch/test-data/content/smNotifiedDoc.xml
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/data-services/entitySearch/test-data/steps/matching/matchingCustomer.json
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/flow/flowRunner/ingestMapMaster/ingestMapMatchMerge.sjs
Labels: Beta

#7134 DHFPROD-9034: e2eWinFailuresPt2
  marklogic-data-hub-central/ui/e2e/cypress/integration/login/authorization.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/entitySettings.spec.tsx
Labels: Needs E2E review

#7141 DHFPROD-9216: e2eAuthFix
  marklogic-data-hub-central/ui/e2e/cypress/integration/login/authorization.spec.tsx
Labels: Needs E2E review

#7140 DHFPROD-9202: Make merge comparison work in ML9
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/merging/mergeable.sjs
Labels: DO_NOT_RUN_UI_TESTS

#7155 DHFPROD-9225: Fix for Test failure hubURI.sjs
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/mapping-functions/hubURI.sjs
Labels: DO_NOT_RUN_UI_TESTS

#7142 DHFPROD-9034: e2eWinFix
  marklogic-data-hub-central/ui/e2e/cypress/integration/curation/curate/mappingWithCustomHeader.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/login/authorization.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/entitySettings.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/components/common/toolbar.tsx
Labels: Needs E2E review

#7156 DHFPROD-9010: e2eValidateSort
  marklogic-data-hub-central/ui/e2e/cypress/integration/explore/exploreTableValidations.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/login/authorization.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/integration/modeling/verifyConceptClassesInModeling.spec.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/pages/explore.tsx
Labels: Needs E2E review

#7164 DHFPROD-8144: Updating ml-gradle/ml-app-deployer and spring dependencies
  marklogic-data-hub-api/build.gradle
  marklogic-data-hub-central/gradle.properties
  marklogic-data-hub-junit5/build.gradle
  marklogic-data-hub/build.gradle
  ml-data-hub-plugin/build.gradle
Labels: DO_NOT_RUN_UI_TESTS
