Repository marklogic/marklogic-data-hub, pull requests merged in 2023-06, with the labels that each got.

#7878 DHFPROD-10292: Fix e2e failures on chrome-nightly
  marklogic-data-hub-central/ui/e2e/cypress/e2e/explore/queryWithMoreThanOneEntity.cy.tsx
  marklogic-data-hub-central/ui/e2e/cypress/e2e/explore/valuesToIgnore.cy.tsx
  marklogic-data-hub-central/ui/e2e/cypress/e2e/login/authorization.cy.tsx
  marklogic-data-hub-central/ui/e2e/cypress/e2e/modeling/relationsBetweenEntities.cy.tsx
  marklogic-data-hub-central/ui/e2e/cypress/e2e/modeling/writerScenario1.cy.tsx
  marklogic-data-hub-central/ui/e2e/cypress/fixtures/config/hubCentral.json
  marklogic-data-hub-central/ui/e2e/cypress/support/components/model/entity-type-table.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/pages/model.tsx
  marklogic-data-hub-central/ui/e2e/cypress/support/pages/run.tsx
Labels: Needs E2E review

#7891 DHFPROD-10243: fix null pointer exceptions customstep2e2
  marklogic-data-hub/src/main/java/com/marklogic/hub/step/impl/WriteStepRunner.java
Labels: DO_NOT_RUN_UI_TESTS

#7893 DHFPROD-10315: TLS nightly test fix
  Jenkinsfile
  ml-data-hub-plugin/src/test/groovy/com/marklogic/gradle/fullcycle/TlsTest.groovy
Labels: DO_NOT_RUN_UI_TESTS

#7903 DHFPROD-10322: Fix artifacts in nightly build
  Jenkinsfile
Labels: DO_NOT_RUN_UI_TESTS

#7907 DHFPROD-10322: Fix artifacts in nightly build-pt2
  Jenkinsfile
Labels: DO_NOT_RUN_UI_TESTS

#7894 DHFPROD-10327: Optimize match caching
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/artifacts/core.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/builtins/steps/mapping/entity-services/lib.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/impl/entity-lib.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/impl/stepDefinition.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/common.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/matching/matchable.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/matching/matcher.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/matching/matching.xqy
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/merging/merger.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/data-services/flow/flow-lib.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/data-services/mapping/generateMappingFunctions.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/public/flow/flow-api.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/transforms/mlcp-flow-transform-lib.mjs
  marklogic-data-hub/src/test/java/com/marklogic/hub/flow/RunFlowWithWriteErrorTest.java
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/mastering/matching/matchableTest.mjs
Labels: DO_NOT_RUN_UI_TESTS

#7908 DHFPROD-8780: Match temporal documents
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/endpoints/collector.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/endpoints/collectorLib.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/temporal/hub-temporal.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/features/temporal.mjs
  marklogic-data-hub/src/test/java/com/marklogic/hub/impl/WriteDocumentsTest.java
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/impl/security/temporal-operations/suiteSetup.mjs
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/impl/security/temporal-operations/suiteTeardown.mjs
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/impl/security/temporal-operations/temporalMatchTest.mjs
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/impl/security/temporal-operations/test-data/entities/Customer.entity.json
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/impl/security/temporal-operations/test-data/flows/CustomerJSON.flow.json
  marklogic-data-hub/src/test/ml-modules/root/test/suites/data-hub/5/impl/security/temporal-operations/test-data/steps/matching/match-customers.step.json
Labels: DO_NOT_RUN_UI_TESTS

#7921 DHFPROD-10292: Fix e2e failures on chrome-nightly
  marklogic-data-hub-central/ui/e2e/cypress/e2e/curation/curate/matchWarnings.cy.tsx
  marklogic-data-hub-central/ui/e2e/cypress/e2e/explore/graphEntitiesSettings.cy.tsx
Labels: Needs E2E review

#7919 DHFPROD-10351: Add exclusion scenario to SLED
  examples/SLED/data/Member-MMIS/DC_DHCF_HandCrafted_Data_Updated.csv
  examples/SLED/exclusionLists/defaultsList.exclusionList.json
  examples/SLED/exclusionLists/doeList.exclusionList.json
  examples/SLED/steps/matching/matchMember.step.json
  examples/SLED/steps/matching/matchMemberWithIgnore.step.json
  examples/SLED/steps/merging/mergeMember.step.json
  marklogic-data-hub-central/src/main/java/com/marklogic/hub/central/schemas/Value.java
  marklogic-data-hub-central/ui/e2e/cypress/e2e/curation/curate/matching.cy.tsx
  marklogic-data-hub-central/ui/e2e/cypress/e2e/explore/valuesToIgnore.cy.tsx
  marklogic-data-hub-central/ui/e2e/hc-qa-project/build.gradle
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mapping/mapping-lib.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/common.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/matching/matchable.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/5/mastering/matching/matcher.mjs
  marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/data-services/mastering/previewMatchingActivity.mjs
Labels: priority:high, Needs E2E review
